.holder{background-color: grey;
 width:99%;
 height:700px;
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 margin-left: 10px;
 border-radius: 8px;
}
.page-button{
  width: 20px;
  height: 20px;
  align-self: center;
}
.agregar {
  position: fixed;
  top: 0;
  left: 65%;
  bottom: 0;
  right: 0;
  background-color: #CDEBC6;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  transition: all ease-out .5s;
  transform: translateX(100%);
  &.active{
    transform: translateX(0);
  }
}
form{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
