<div class="holder" >

    <app-show-product  (description)=toggleDescription($event) (agregar)=toggleAgregar()></app-show-product>


</div>
<div class="product-detail" [class.active]="showDescription" >
<app-product-detail [showDescription]="showDescription" [product]="specificProduct" (cerrar)="hideDescription()" ></app-product-detail>

  </div>
  <div class="agregar" [class.active]="showAgregar">
      <form (ngSubmit)="agregarApi()" #myForm="ngForm">
        <label for="Title"> Title: </label>
        <input name="title" type="text"  value="list.nombre" [(ngModel)]="productoAAgregar.title">
        <label for="input-dni">Price:</label>
        <input name="price" type="number"  [(ngModel)]="productoAAgregar.price">
        <label for="input-dni">Description:</label>
        <input name="description" type="text" [(ngModel)]="productoAAgregar.description">
        <label for="input-dni">Images:</label>
        <input name="price" type="string"  [(ngModel)]="productoAAgregar.images">
        <button  type="submit"  class="input-button">Agregar</button></form>

    </div>
