<div class="holder">
<div class='button-div'>
  <button type="button" (click)="toggleAgregar()" class="">Agregar</button></div>
<div *ngFor="let products of productos" class="product" >
  <img [src]="products.images" class="product-image">
  <figcaption class="price">${{products.price}}</figcaption>
  <figcaption class="title">${{products.title}}</figcaption>
  <button type="button" (click)="toggleDescription(products.id)" class="description-button"><img src="../../../assets/images/flechaparaabajo.png" class="img-button"></button>
  </div>
  <div class='button-div'>
<button type="button" (click)="loadLess()" class="page-button" [disabled]="offset==0"><</button>
<button type="button" (click)="loadMore()" class="page-button">></button>
</div></div>
