<body>
  <div class="structure">
  <div class="header">

  </div>
  <nav class="navbar">

  </nav>
  <div class="content-bar-holder" >
    <div class="content" id="holder">
      <app-lista [baseDeDatos]="baseDeDatos"  (eliminar)="eliminarPerfil($event)" (editar)="editarIndex($event)" (modificar)="editarPerfil($event)"></app-lista>
    </div>
    <div class="sidebar">
      <form (ngSubmit)="agregarADatos()" #myForm="ngForm">
        <label for="input-nombre"> Nombre: </label>
        <input name="nombre" type="text" id="input-nombre" class="input-agregar" [class.blanco]="nombreEnBlanco" value="list.nombre" [(ngModel)]="nombreAgregar">
        <label for="input-dni">DNI:</label>
        <input name="dni" type="number" id="input-dni" class="input-agregar" [class.dnirepetido]="comprobarDni()" [class.blanco]="dniEnBlanco" [(ngModel)]="dniAgregar">
        <p *ngIf="comprobarDni()" class="mensaje-error">Dni ya ingresado</p>
        <p *ngIf="errorEspacioEnBlanco" class="mensaje-error">No se puede dejar espacio vacio</p>
        <button  type="submit" id="boton-agregar" class="input-button">Agregar</button>

      </form>
    </div>

    </div>
    <div class="footer">

    </div>
  </div>
